:root {
    --font-color: #2E3440;
    --heading-border-color: #2E3440;
    --quote-color: #ECEFF4;
    --math-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--font-color);
    background: white;
}

h1 {
    margin: 0 2rem 2rem;
    padding-bottom: .25rem;
    border-bottom: var(--heading-border-color) solid 2px;
    font-size: 3rem;
}

h2 {
    margin: 1rem 0 .25rem;
    font-size: 2rem;
}

section {
    margin: 0 2rem;
}

blockquote {
    padding: 1rem;
    margin: 1rem;
    background: var(--quote-color);
    font-style: italic;
}

blockquote.math {
    background: var(--math-color);
    text-align: center;
}

img {
    display: block;
    margin: 2rem auto;
    max-height: 300px;
}
