* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h1 {
    margin: 0 2rem 2rem;
    padding-bottom: .25rem;
    border-bottom: gray solid 2px;
    font-size: 3rem;
}

h2 {
    margin: 1rem 0 .25rem;
    font-size: 2rem;
}

section {
    margin: 0 2rem;
}

blockquote {
    padding: 1rem;
    margin: 1rem;
    background: gray;
    font-style: italic;
}

blockquote.math {
    background-color: white;
    text-align: center;
}
